.main {
    margin: 10px;
    margin-top: 100px;
    position: relative;
}

.button {
    width: 200px;
    height: 40px;
    border: 1px solid lightgreen;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

button[title]:hover::after{
    font-style: italic;
}

.send {
    background-color: lightgreen;
}

.sent {
    background-color: red;
}